$white: #fff;
$black: #000;
$dots: #95a5a6;
$dotsHover: #1abc9c;
$dotVisited: #5d6a6b;
$copyright: #2c3e50;
$menuLinkHover: #f1c40f;
$menuColorHide: rgba(41, 128, 185, 0);
$menuColorShow: rgba(41, 128, 185, 1.0);

@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin margin-padding-zero {
    margin: 0;
    padding: 0;
}

@mixin height-width-100 {
    height: 100vh;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    // scroll-snap-type: y mandatory;
}

body {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #dff9fb;
    transition: 0.5s ease-in-out;
    @include margin-padding-zero;
}

// Copyright Section

// .copyright-container {
//     @include height-width-100;
//     position: fixed;
//     display: flex;
//     justify-content: center;
//     align-items: flex-end;
//     z-index: 1;
//     .copyright {
//         font-size: 0.8rem;
//         color: $copyright;
//     }
// }
// @media screen and (max-width: 520px) {
//     .copyright-container {
//         .copyright {
//             font-size: 0.7rem;
//         }
//     }
// }

// Dots indicator

.up-down-button {
    position: fixed;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    left: 8%;
    .dots {
        width: 50px;
        display: grid;
        grid-template-rows: repeat(auto);
        grid-gap: 25px;
        .dot {
            position: absolute;
            display: flex;
            transform: translate(-50%, -50%);
            transition: 0.1s ease-in-out;
            justify-content: center;
        } 
        .port {
            font-size: 1.4rem;
            color: $dots;
        }
        .port:hover {
            color: $dotsHover;
        }
        .port-visiting{
            color: $dotVisited;
        }
        .d0 {
            margin: -5px 0;
        }
        .dDown {
            margin: 5px 0;
        }
        .dot-style{
            height: 10px;
            width:  10px;
            background-color: $dots;
            border-radius: 50%;
        }
        .dot-style:hover {
            height: 15px;
            width:  15px;
            background-color: $dotsHover;
        }
        .dot-visiting {
            height: 15px;
            width:  15px;
            background-color: $dotVisited;
        }
    }
}

//Down arrow Section
.down-arrow {
    @include margin-padding-zero;
    position: absolute;
    left: 7%;
    bottom: 150px;
    animation: down-arrow 1.5s ease-in-out infinite;
    transition: ease-in-out;
    
    span {
        @include margin-padding-zero;
        font-size: 3rem;
        color: $dotVisited;
    }
}
@keyframes down-arrow {
    0% {
        bottom: 150px;
        opacity: 1;
    }
    50% {
        bottom: 170px;
        opacity: 0;
    }
    100% {
        bottom: 150px;
        opacity: 1;
    }
}

// background color transition

.back-color-transition {
    position: relative;
    top: 16px;
    height: 50vh;
    width: 100%;
    z-index: -2;
}

// Navbar Session


// clouds Section

.clouds-container {
    @include height-width-100;
    position: fixed;
    z-index: 0;
    .clouds {
        .cloud {
            position: absolute;
            right: -10%;
        }
        .cloud-one {               
            top: 600px;
            animation: cloud-move 40s linear infinite;
        }
        .cloud-two {
            top: 700px;
            animation: cloud-move 60s 20s linear infinite;
        }
        .cloud-three {
            top: 550px;
            animation: cloud-move 100s 5s linear infinite;
        }
        .cloud-four {
            top: 500px;
            right: 70%;
            animation: cloud-move-four 40s linear forwards;
        }
        @keyframes cloud-move {
            0% { right: -10%; };
            100% { right: 105%; };
        }
        @keyframes cloud-move-four {
            0% { right: 70%; };
            100% { right: 110%; };
        }
    }
}

//Airplan Section

.airplane-container {
    @include height-width-100;
    position: fixed;
    top: 300px;
    z-index: 0;
    animation: flying-right 25s linear infinite;
}
@keyframes flying-right {
    0% { left: -15%; };
    100% { left: 115%; };
}

// Title Session

.title-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 1fr 5fr;
    justify-items: center;
    scroll-snap-align: start;
    .title-group {
        display: flex;
        h1, p {
            @include margin-padding-zero;
            font-size: 1.3rem;
        }
    }
    .title {
        align-items: flex-end;
        h1 {
            font-weight: bold;
            font-size: 5.5rem;
        }
        p {
            padding: 0 3px 14px 0;
        }
    }
    .sub-title {
        align-items: flex-start;
        padding-top: 10px;
        p {
            span {
                position: relative;
                top: 4px;
                padding: 0 10px;
                font-size: 2rem;
            }
            span:nth-last-child(1) {
                top: 0;
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
    .sun-container {
        position: relative;
        top: 50px;
        align-items: flex-start;
        z-index: -1;
    }
}
@media screen and (max-width: 520px) {
    .title-container {
        .title-group {
            p {
                font-size: 1.1rem;
            }
        }
        .title {
            h1 {
                font-size: 4rem;
            }
        }
        .sub-title {
            padding-top: 5px;
            p {
                span {
                    top: 3px;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

// Earth Animation Session
.background-one {
    position: absolute;
    @include height-width-100;
    .earth-container {
        position: fixed;
        bottom: -60%;
        @include height-width-100;
        .lights {
            animation: rotate1 linear infinite;
            animation-duration: 60s;
        }
        .car-body {
            animation: car-shaking linear infinite;
            animation-duration: 0.5s;
        }
        @keyframes car-shaking {
            0% {transform: translateY(0px)}
            50% {transform: translateY(2px)}
            100% {transform: translateY(0px)}
        }
        .earth {
            animation: rotate1 linear infinite;
            animation-duration: 60s;
        }
        @keyframes rotate1 {
            from {transform: rotate(0deg);}
            to {transform: rotate(360deg);}
        }
    }
}
@media screen and (max-width: 700px) {
    .background-one {
        .earth-container {
            bottom: -55%;
        }
    }
}
@media screen and (max-width: 520px) {
    .background-one {
        .earth-container {
            bottom: -51%;
        }
    }
}













