$transition-duration: 0.7s;
$transition-easing: cubic-bezier(0.230, 1.000, 0.320, 1.300);
$bounce-easing: cubic-bezier(0.175, 0.885, 0.320, 1);
$card-max-width: 800px;
$closed-width: 200px;
$closed-height: 40px;
$opened-width: 800px;
$opened-height: 650px;
$line-height: 1.6rem;
$description-font-size: 0.9rem;

@mixin margin-padding-zero {
    margin: 0;
    padding: 0;
}

@mixin height-width-100 {
    height: 100vh;
    width: 100%;
}

//tooltip for porfolio section
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

// porfolio Session
.background-porfolio {
    @include height-width-100;
    position: relative;
    z-index: 1;
    text-align: center;
    scroll-snap-align: start;
    .card-container {
        position: relative;
        min-height: 500px;
        width: 70%;
        min-width: 280px;
        max-width: $card-max-width;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        transition: 0.5s 0.4s ease-in-out;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 8px 25px rgba(0,0,0,0.2);
        .project-intro {
            transition: 0.2s ease-in-out;
            img {
                width: 95%;
                max-width: 900px;
                max-height: 500px;
                object-fit: contain;
            }
            .tools-icons {
                padding: 20px 10px 10px;
                i {
                    padding: 0 5px;
                }
            }
            p {
                padding: 0 10px;
                line-height: $line-height;
                font-size: $description-font-size;
            }
        }
    }
}

//for portfolio pop-up button
.description {
    margin-top: 50px;
    text-align: center;
    color: #999;
    transition: opacity 0.3s ease;
}

.description a {
    color: #4A9DF6;
    text-decoration: none;
}

.btn.is-open ~ .description {
    opacity: 0;
}

.btn {
    display: block;
    position: relative;
    width: $closed-width;
    height: $closed-height;
    margin: 10px auto;
    // transition: width $transition-duration $transition-easing,
    transition: 
        height $transition-duration $transition-easing,
        transform $transition-duration $bounce-easing;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    text-align: center;
}

.btn-front {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    line-height: $closed-height;
    background-color: #2196F3;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    transition: background 0.15s ease,
        line-height $transition-duration $transition-easing;
    border: 0;
    border-radius: 2px;
}
.btn-front:hover {
    background-color: lighten(#2196F3, 10%);
}
.btn.is-open .btn-front {
    pointer-events: none;
    line-height: $opened-height;
}

.btn-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
    color: #222;
    transform: translateZ(-2px) rotateX(180deg);
    overflow: hidden;
    transition: box-shadow $transition-duration ease;
    p {
        line-height: $line-height;
        font-size: $description-font-size;
        padding: 0 10px;
    }
    .video-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
        iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .links-container {
        position: relative;
        margin: 0 auto;
        width: 60%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        div {
            display: grid;
            // grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            margin-bottom: 20px;
            justify-content: center;
            // grid-auto-columns: minmax(min-content, max-content);
        }
        div > a {
            color: inherit;
            font-size: 1.5rem;
            text-decoration:none;
            margin: 0 15px;
        }
        div > a:hover {
            color: #F44336;
        }
    }
}
.btn-back p {
    margin-top: 27px;
    margin-bottom: 25px;
}
.btn-back button {
    padding: 12px 20px;
    width: 200px;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    transition: background 0.15s ease;
    
    &:focus {
        outline: 0;
    }

    &.btn-close {
        background-color: #F44336;
        color: #fff;
        position: relative;
        margin: 0 auto;
        
        &:hover {
          background-color: lighten(#F44336, 10%);
        }
    }
}

.btn.is-open .btn-back {
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

.btn.is-open {
    width: 100%;
    min-width: 280px;
    max-width: 800px;
    min-height: 500px;
    max-height: $opened-height;
}

.btn[data-direction="bottom"].is-open {
    transform: rotateX(-180deg);
}

.project-intro-hide {
    position: absolute;
    opacity: 0;
}
@media screen and (min-width: 400px) {
    .btn.is-open {
        min-height: 550px;
        // max-height: 600px;
    }
}
@media screen and (min-width: 800px) {
    .btn.is-open {
        min-height: 600px;
    }
    .btn-back > .links-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        width: 80%;
        div {
            position: relative;
            width: 60%;
            margin: 0 auto;
        }
    }
}
@media screen and (min-width: 1000px) {
    .btn.is-open {
        min-height: 680px;
    }
}