html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #dff9fb;
  transition: 0.5s ease-in-out;
  margin: 0;
  padding: 0;
}

.message-container {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 8;
  transition: 0.35s ease-in-out;
  opacity: 0;
}
.message-container .message-card {
  position: relative;
  margin: 300px auto 0;
  padding: 0 20px;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(99, 99, 99, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-container .message-card p {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #dfdfdf;
}
.message-container .message-card button {
  padding: 12px 20px;
  width: 150px;
  margin: 30px 5px;
  background-color: #F44336;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: #ddd;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: 0.15s ease-in-out;
}
.message-container .message-card button:focus {
  outline: 0;
}
.message-container .message-card button:hover {
  background-color: #f77066;
}

.message-container-show {
  top: 0;
  opacity: 1;
}

.copyright-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}
.copyright-container .copyright {
  font-size: 0.8rem;
  color: #2c3e50;
}

.up-down-button {
  position: fixed;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  left: 8%;
}
.up-down-button .dots {
  width: 50px;
  display: grid;
  grid-template-rows: repeat(auto);
  grid-gap: 25px;
}
.up-down-button .dots .dot {
  position: absolute;
  display: flex;
  transform: translate(-50%, -50%);
  transition: 0.1s ease-in-out;
  justify-content: center;
}
.up-down-button .dots .port {
  font-size: 1.4rem;
  color: #95a5a6;
}
.up-down-button .dots .port:hover {
  color: #1abc9c;
}
.up-down-button .dots .port-visiting {
  color: #5d6a6b;
}
.up-down-button .dots .d0 {
  margin: -5px 0;
}
.up-down-button .dots .dDown {
  margin: 5px 0;
}
.up-down-button .dots .dot-style {
  height: 10px;
  width: 10px;
  background-color: #95a5a6;
  border-radius: 50%;
}
.up-down-button .dots .dot-style:hover {
  height: 15px;
  width: 15px;
  background-color: #1abc9c;
}
.up-down-button .dots .dot-visiting {
  height: 15px;
  width: 15px;
  background-color: #5d6a6b;
}

.down-arrow {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 7%;
  bottom: 150px;
  animation: down-arrow 1.5s ease-in-out infinite;
  transition: ease-in-out;
}
.down-arrow span {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: #5d6a6b;
}

@keyframes down-arrow {
  0% {
    bottom: 150px;
    opacity: 1;
  }
  50% {
    bottom: 170px;
    opacity: 0;
  }
  100% {
    bottom: 150px;
    opacity: 1;
  }
}
.back-color-transition {
  position: relative;
  top: 16px;
  height: 50vh;
  width: 100%;
  z-index: -2;
}

.clouds-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
}
.clouds-container .clouds .cloud {
  position: absolute;
  right: -10%;
}
.clouds-container .clouds .cloud-one {
  top: 600px;
  animation: cloud-move 40s linear infinite;
}
.clouds-container .clouds .cloud-two {
  top: 700px;
  animation: cloud-move 60s 20s linear infinite;
}
.clouds-container .clouds .cloud-three {
  top: 550px;
  animation: cloud-move 100s 5s linear infinite;
}
.clouds-container .clouds .cloud-four {
  top: 500px;
  right: 70%;
  animation: cloud-move-four 40s linear forwards;
}
@keyframes cloud-move {
  0% {
    right: -10%;
  }
  100% {
    right: 105%;
  }
}
@keyframes cloud-move-four {
  0% {
    right: 70%;
  }
  100% {
    right: 110%;
  }
}

.airplane-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 300px;
  z-index: 0;
  animation: flying-right 25s linear infinite;
}

@keyframes flying-right {
  0% {
    left: -15%;
  }
  100% {
    left: 115%;
  }
}
.title-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 1fr 5fr;
  justify-items: center;
  scroll-snap-align: start;
}
.title-container .title-group {
  display: flex;
}
.title-container .title-group h1, .title-container .title-group p {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}
.title-container .title {
  align-items: flex-end;
}
.title-container .title h1 {
  font-weight: bold;
  font-size: 5.5rem;
}
.title-container .title p {
  position: relative;
  top: -3px;
  padding: 0 3px 14px 0;
}
.title-container .sub-title {
  align-items: flex-start;
  padding-top: 10px;
}
.title-container .sub-title p span {
  position: relative;
  top: 4px;
  padding: 0 10px;
  font-size: 2rem;
}
.title-container .sub-title p span:nth-last-child(1) {
  top: 0;
  font-size: 1.5rem;
  font-weight: 400;
}
.title-container .sun-container {
  position: relative;
  top: 50px;
  align-items: flex-start;
  z-index: -1;
}

.background-one {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.background-one .earth-container {
  position: fixed;
  bottom: -60%;
  height: 100vh;
  width: 100%;
}
.background-one .earth-container .lights {
  animation: rotate1 linear infinite;
  animation-duration: 60s;
}
.background-one .earth-container .car-body {
  animation: car-shaking linear infinite;
  animation-duration: 0.5s;
}
@keyframes car-shaking {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
.background-one .earth-container .earth {
  animation: rotate1 linear infinite;
  animation-duration: 60s;
}
@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .background-one .earth-container {
    bottom: -55%;
  }

  .title-container .title-group p {
    top: -1px;
  }
  .title-container .title h1 {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 520px) {
  .copyright-container .copyright {
    font-size: 0.7rem;
  }

  .title-container .title-group p {
    font-size: 1.1rem;
    top: 5px;
  }
  .title-container .title h1 {
    font-size: 3.3rem;
  }
  .title-container .sub-title {
    padding-top: 5px;
  }
  .title-container .sub-title p span {
    top: 3px;
    font-size: 1.5rem;
  }

  .background-one .earth-container {
    bottom: -51%;
  }
}

/*# sourceMappingURL=index.css.map */
