<div class="airplane-container">
    <!-- <div class="airplane"> -->
        <svg width="150px" height="150px" href="#">
            <image xlink:href="img/airplane.svg" x="0" y="0" width="120px" height="120px"></image>
        </svg>
    <!-- </div> -->
</div>