<!-- Earth Animation Section -->

<div class="background-one">
    <div class="earth-container">
        <svg class="lights" width="100%" height="100%" href="#" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 318.63 318.63"><defs><style id="building-light">.cls-2{fill:#fff;}</style></defs><title>earth_building_light</title>>          
            <g fill-opacity="0"><circle class="cls-1" cx="159.32" cy="159.32" r="159.31"/></g>
            <path class="cls-2" d="M428.36,350.31l-10.58-21.75-41.6,20.23a83.52,83.52,0,0,0-9.47-11.61l38.21-46.31-13.05-10.25-2.1,1-10.94,13.29-25.23,31.3A84.89,84.89,0,0,0,234,351.61L231,350l-13.53-4.49-3.17.37-23.54-6.57L182.7,358l-3.8,17.31,42.37,16.38a84.23,84.23,0,0,0,1.66,22.21l-47.2,27.7,30.72,50L253,462.8a84.81,84.81,0,0,0,16.56,10.34l-3.91,11L263,494.69l29.35,7.85L296,490.27,297.9,481a84.88,84.88,0,0,0,89.19-109.52ZM218.65,467s-7,.3-12.64-3.24-6.57-16.2-3.26-20.1,25.84-17.73,25.84-17.73l18,24.12Z" transform="translate(-146.68 -237.18)"/>   
        </svg>
    </div>
    <div class="earth-container">
        <svg class="earth" width="100%" height="100%" href="#">
            <image xlink:href="img/earth.svg" x="0" y="0" width="100%" height="100%"></image>
        </svg>
    </div>
    <div class="earth-container">
        <svg class="car-tires" width="100%" height="100%" href="#">
            <image xlink:href="img/carTires.svg" x="0" y="0" width="100%" height="100%"></image>
        </svg>
    </div>
    <div class="earth-container">
        <svg class="car-body" width="100%" height="100%" href="#">
            <image xlink:href="img/carBody.svg" x="0" y="0" width="100%" height="100%"></image>
        </svg>
    </div>
</div>