<div id="menu-show" class="menu-container">
    <div class="text-menu">
        <ul class="links-group">
            <a id="close-menu" href="#toP1" title="My web coding portfolio"><li class="links">Web portfolio</li></a>
            <a href="https://waileung.myportfolio.com/" target="blank" title="My graphic artwork"><li class="links">graphic portfolio</li></a>
            <a onclick="goToInfo('resume')" href="#" title="My resume"><li class="links">resume</li></a>
            <a onclick="goToInfo('about')" href="#" title="About me"><li class="links">about me</li></a>
        </ul>
        <div class="contact-group">
            <ul class="info-group">
                <!-- <li class="self-image"></li> -->
                <li class="contact contact-name">Wai Leung ( Kent )</li>
                <li class="contact">waileung0830@gmail.com</li>
                <li class="contact">626.379.8418</li>
                <li>
                    <a href="https://github.com/wai0901" target="blank"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/wai-kent-leung-72826440/" target="blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/kent_wai_leung/" target="blank"><i class="fab fa-instagram-square"></i></a>
                </li>
            </ul>
            <div class="form-group">
                <form action="https://formspree.io/xoqkeaoy" method="POST" class="form">
                    <label class="email-label">Email:
                        <input class="email-input" type="text" name="_replyto">
                    </label>
                    <label class="message-label">Message:
                        <textarea class="message-input" name="message"></textarea>
                    </label>
                    <button class="submit-button" type="submit">Send</button>
                </form>
            </div>

        </div>
        
    </div> <!-- text-menu -->

    <!-- resume section -->

    <div class="resume-hide info-hide">
        <!-- <div class="info-layout">
            <iframe src="./img/Resume.pdf"  width="100%" height="100%"></iframe>
        </div>
        <div class="back-to-menu">
            <a class="info-close" onclick="backToMenu('resume')" title="Back to Menu"><i class="fas fa-chevron-circle-left"></i></a>
        </div> -->
    </div>

    <!-- About me section -->

    <div class="about-hide info-hide">
        <!-- <div class="info-layout">
            <div class="about-me">
                <h1>About me</h1>
                <p>I have been working as a graphic designer for many years, because of my designer background, it helps me to build more elegant and user-friendly web designs.</p>
                <p>I have used HTML, CSS, javascript, Bootstrap, React, React Native, jQuary, NodeJs to build the web application and website. In addition to my knowledge base, I actively seek out new technologies and stay up-to-date on industry trends and advancements.</p>
                <p>I am confident that I am able to use my knowledge and skill to provide a great contribution to your team and company.</p>
                <p>Feel free to contact me if you have any question</p>
            </div>
        </div>
        <div class="back-to-menu">
            <a class="info-close" onclick="backToMenu('about')" title="Back to Menu"><i class="fas fa-chevron-circle-left"></i></a>
        </div> -->
    </div>

    <!-- burger menu button -->
    
    <ul id="burger-menu" class="burger-menu">
        <li class="burger-line burger-line-one"></li>
        <li class="burger-line burger-line-two"></li>
        <li class="burger-line burger-line-three"></li>
    </ul>
</div>