<div id="menu-show" class="menu-container">
    <div class="text-menu">
        <ul class="links-group">
            <a id="close-menu" href="#toP1" title="My web coding portfolio"><li class="links">web portfolio</li></a>
            <a href="https://waileung.myportfolio.com/" target="blank" title="My graphic artwork"><li class="links">graphic portfolio</li></a>
            <!-- <a onclick="goToInfo('resume')" href="#" title="My resume"><li class="links">resume</li></a> -->
            <a onclick="goToInfo('about')" href="#" title="About me"><li class="links">about me</li></a>
        </ul>
        <div class="contact-group">
            <ul class="info-group">
                <li class="contact contact-name">Wai Leung ( Kent )</li>
                <li class="contact">waileung0830@gmail.com</li>
                <li class="contact">626.379.8418</li>
                <li>
                    <a href="https://github.com/wai0901" target="blank"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/wai-kent-leung-72826440/" target="blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/kent_wai_leung/" target="blank"><i class="fab fa-instagram-square"></i></a>
                </li>
            </ul>
            <div class="form-group">
                <form action="/" method="POST">
                    <label class="email-label">Email:
                        <input class="email-input" type="email" name="email" required>
                    </label>
                    <label class="message-label">Message:
                        <textarea class="message-input" name="text" required></textarea>
                    </label>
                    <button id="contact-submit" class="submit-button" type="submit">Send</button>
                    <div class="fail-massage-container">
                        <% if (sendMailSuccess === "error") { %>
                            <p><%= contactMessage %></p>
                        <% } %>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- text-menu -->

    <!-- About me section -->
    <div class="about-hide info-hide">
        <div class="info-layout">
            <div class="about-me">
                <h1>About me</h1>
                <p>Hi, My name is Wai, my friends and co-worker usually call me Kent. I am a fullstack web developer, I have experienced in Html, CSS, Javascript, Bootstrap, Jquery, React, React Native, NodeJs, Express, PHP, and some authentication library such as Passport. In addition to my knowledge base, I actively seek out new technologies and stay up-to-date on industry trends and advancements. I am also a professional graphic designer with many years of experience, because of my designer background, it helps me to build more elegant and user-friendly web designs.</p>
                <p>I am confident that I am able to use my knowledge and skill to provide a great contribution to your team and company.
                <p>Feel free to contact me if you have any question</p>
            </div>
        </div>
        <div class="back-to-menu">
            <a class="info-close" onclick="backToMenu('about')" title="Back to Menu"><i class="fas fa-chevron-circle-left"></i></a>
        </div>
    </div>

    <!-- burger menu button -->
    
    <ul id="burger-menu" class="burger-menu">
        <li class="burger-line burger-line-one"></li>
        <li class="burger-line burger-line-two"></li>
        <li class="burger-line burger-line-three"></li>
    </ul>
</div>